[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1"
psycopg2-binary = "*"
pillow = "*"
python-dotenv = "*"
stripe = "*"
celery = "==4.*"
weasyprint = "*"
xlsxwriter = "*"

[dev-packages]

[requires]
python_version = "3.8"
